
<section class="diet-meal">
<div class="container">
	<div class="col-md-8 col-md-2 col-xs-12">
	<h1>mealcalculate</h1>
	<br/>
	<br/>
		<ul>
			<li><b>isGoal:</b>{{isGoal}}</li>
			<li><b>isExercise:</b>{{isExercise}}</li>
			<li><b>isGender:</b>{{isGender}}</li>
			<li><b>height:</b>{{height}}</li>
			<li><b>weight:</b>{{weight}}</li>
			<li><b>age:</b>{{age}}</li>
		</ul>
	</div>	
</div>
</section>