

<!--Content Area Start-->
			<div id="content">
				<!-- slider-hero start here -->
				<section class="slider-hero inner-banner_info">
					<div class="container">
						<h1>xxxsdg</h1>
					</div>
				</section>
			</div>


				<!-- breadcrum-sec start here -->
				<section class="breadcrum-sec">
					<div class="container">
						<ol class="breadcrumb">
							<li>
								<a href="#">Home</a>
							</li>
							<li class="active">
								trainer detail
							</li>
						</ol>
					</div>
				</section>
				<!-- breadcrum-sec end here -->

				<!-- shop-detail start here -->
				<section class="trainer-detail">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<div class="trainer-pic zoom">
									<figure>
										<img src="images/meal1.jpg" alt="">
									</figure>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="trainer-info">
									<div class="trainer-name">
										<h2>Share to get your meal plan now!!</h2><span class="button-btn exp-btn"><a href="/mealplan/{{id}}">Go to your meal plan</a></span>
									
									</div>
									<p>
									   {{#each diets}}
											    <ul class='info-ul'>           
											    	
													<li class="info isGoal" >{{isGoal}}</li>
													<li class="info isExercise">{{isExercise}}</li>
													<li class="info isGender">{{isGender}}</li>
													<li class="info height">{{height}}</li>
													<li class="info weight">{{weight}}</li>
													<li class="info age">{{age}}</li>
												</ul>
										{{/each}}
									</p>

                                 
								</div>
							</div>
							<div class="col-sm-3">
								<div class="trainer-contact">
									<i class="fa fa-phone phone-btn"></i>

									<span class="button-btn exp-btn"><a href="/mealplan/{{id}}">Download</a></span>	
									      <a  class="divEmbed" href="" target="_blank">Your meal plan</a>	
																
								</div>
							</div>
						</div>
					</div>

				</section>

					



